<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" value="<%= camp.title%>" required>
                </div>
            
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" value="<%= camp.location%>" required>
                </div>

                <div class="mb-3">
                    <label  class='form-label' for="image">Image</label>
                    <input class="form-control" type="url" id="image" name="campground[image]" value="<%= camp.image%>" required>
                </div>

                <div class="mb-3">
                    <label  class='form-label' for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text">&#x20B9</span>
                        <input class="form-control" type="number" id="price" name="campground[price]"  value="<%= camp.price%>" placeholder="1500" aria-label="price" aria-describedby="price-label" required>
                    </div>
                    </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <input class="form-control" type="text" id="description" name="campground[description]" value="<%= camp.description%>" required>
                </div>
            

                <button class="btn btn-info">Update Campground</button>
            </form>
        
            <a href="/campgrounds/<%= camp._id%>">Back to Campground </a>
        </div>
    </div>